<div class="container">
    <br>
<h4>
<b> Experiencia</b><button type="submit" class="btn btn-close-white"><i class="fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#experienciaModal"></i></button>
</h4>
<br>
<h4>- Puesto #1</h4><h5>Empresa</h5>
<p></p>
<h5>Tareas Realizadas en el puesto</h5>
<br>
<h4>- Puesto #2
</h4><h5>Empresa</h5>
<p></p>
<h5>Tareas Realizadas en el puesto</h5>

<div class="row align-items-start">

<app-experienciatexto></app-experienciatexto>

<!-- <div *ngFor="let trabajo of experiencias" class="row">
    <div class="col-3">
     <img [src]="trabajo.img" [alt]="trabajo.logo_empresa" class="rounded-circle w-25">
     <br>
     <h5>{{trabajo.puesto}}</h5>
     <h6>{{trabajo.inicio}} {{trabajo.fin}}</h6>
     </div>
     <div class="col-8">
        <h4>{{trabajo.tareas}}</h4>
        </div>
        <div class="col-1"></div>
        </div>

        "experiencias":[
        {
            "puesto": "Corredor",
            "tareas": "bachiller",
            "inicio": "2014",
            "fin": "2022",
            "img": ""
        },
        {
            "puesto": "Hola",
            "tareas": "lorem ",
            "inicio": "2013",
            "fin": "2023",
            "img": "d"
        },
        ]
  -->