<!-- Sobre mi -->
<section id="sobre-mi" class="about">

    <div class="container text-center pt-5">
      
      <div class="row">
        <div class="col-3">
          <img src="assets/img/yo (1)_cleanup.png" class="rounded-circle w-75" alt="..." title="...">
          <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#perfilModal"></i></button>
        </div>
        <div class="col-6 mt-4">
          <h4>Gabriel Páez Alis</h4>
          <p></p>
          <h4><b>Full Stack Developer Jr.</b></h4>
          <p></p>
          <h5>Soy apasionado del desarrollo web, del diseño y automatización de procesos. 
         Soy apto para el trabajo en equipo y
            siempre intento dar lo mejor de mi en los proyectos. <p></p>
            Me gusta resolver problemas.
          </h5>
          <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#sobremiModal"></i></button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

<app-sobremitexto></app-sobremitexto>
<app-perfil></app-perfil>
  