<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Contenido de las diapositivas -->
    <div class="carousel-inner">
        <img src="assets/img/posible.jpg" alt="Diapositiva 1" width="100%" height="600">
        <div class="carousel-caption">
          <button type="submit" class="btn btn-close-white editBanner"><i class="fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#bannerModal"></i></button>
          <h3>Desarrollo Web</h3>
           <p>Front-End y Back-End</p>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="assets/img/front.jpg" alt="Diapositiva 2" width="100%" height="600">
        <div class="carousel-caption">
          <button type="submit" class="btn btn-close-white editBanner"><i class="fa-solid fa-pencil"></i></button>
          <h3>Front-End</h3>
          <p>HTML-CSS-JS</p>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="assets/img/frontt.jpg" alt="Diapositiva 3" width="100%" height="600">
        <div class="carousel-caption">
          <button type="submit" class="btn btn-close-white editBanner"><i class="fa-solid fa-pencil"></i></button>
          <h3>Back-End</h3>
          <p>MySQL</p>
        </div>
      </div>
    </div>

    <app-fotosbanner></app-fotosbanner>