<!-- Sobre mi -->
 <section id="sobre-mi" class="about">

    <div class="container text-center pt-5">
      
      <div class="row">
        <div class="col-3">
          <img src="assets/img/yo (1)_cleanup.png" class="rounded-circle w-75" alt="..." title="...">
        </div>
        <div class="col-6 mt-4">
  <h4>{{persona.nombre}} {{persona.apellido}} </h4>
          <h4></h4>
          <p></p>
          <h4><b>Full Stack Developer Jr</b></h4>
          <p></p>
          <h5>{{persona.acerca}}</h5>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
   