<div class="text-center">
  <br>
  <h4>
    <b> Educación</b>
    <br>
    <br>
    <div class="col-lg-30">
      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
        Añadir Estudios
      </button>
    </div>
  </h4>
  <br>
  <div class="container text-center">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h4><b>{{Educacion.nombreEsc}}</b></h4>
          </td>
          <td>
            <h4>{{Educacion.descEsc}}</h4>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}">
              <i class="bi bi-pencil-fill"></i> </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
               <i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>