<div class="container">
    <br>
<h4>
 <b> Experiencia </b>
</h4>
<br>

<div class="row align-items-start">
<div class="card" style="width: 18rem;">
    <img src="assets/img/uala.webp" class="card-img-top" alt="...">
    <div class="card-body"><b> Ualá</b>
      <p class="card-text">Soporte Técnico <br>Resolviendo Dudas y Problemas en la Comunidad Ualá</p>
    </div>
  </div>
  <div class="card" style="width: 17rem;">
    <img src="assets/img/Shopify_logo_icon.webp" class="card-img-top" alt="...">
    <div class="card-body"><b> Shopify</b>
      <p class="card-text"><br>
    Creación de página diseñada y preparada especialmente para dropshipping.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/tiendanube.webp" class="card-img-top" alt="...">
    <div class="card-body"><b> Tiendanube</b>
      <p class="card-text"><br> Creación de Tienda Online, totalmente funcional, integrada a correos para envíos,
         redes sociales y métodos de pago correctamente vinculados. </p> <p></p>
    </div>
  </div>