<ul class="list-group list-group-horizontal">
  <a href="https://www.instagram.com/gabodv7/?hl=es-la" target="_blank"><li class="list-group-item"><i class="fa-brands fa-instagram fa-2xl"></i></li></a>
  <a href="https://www.linkedin.com/in/gabriel-p%C3%A1ez-alis-8b7459254/" target="_blank"><li class="list-group-item"><i class="fa-brands fa-linkedin fa-2xl"></i></li></a>
  <a href="https://www.facebook.com/profile.php?id=100014056090416" target="_blank"><li class="list-group-item"><i class="fa-brands fa-facebook fa-2xl"></i></li></a>
    <!-- Boton Login -->
    <li class="list-group-item">
        <a routerLink="/intro"><i class="fa-solid fa-user fa-2xl" type="button"></i></a>
      </li>
        </ul>
