<div class="container pt-5">
    <style>
    </style>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="mt-4">
        <h4><b>Educación</b></h4>
        <p></p>
        <h5> #SeProgramar, Programación Informática General
        </h5>
        <h5> Curso Introductorio con aprendizaje y fundamentos básicos de la programación
        </h5>
        <img src="assets/img/diploma.jpg" alt="Diapositiva 3" width="350" height="250">
      </div>
      <div class="col-3"></div>
    </div>

